<div>
  <ul class="breadcrumb">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#"> Manage Activity</a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="box col-md-12">
    <div class="box-inner">
      <div class="box-header well" data-original-title="">
        <h2><i class="glyphicon glyphicon-user"></i> Activities For Inner Vessel</h2>

        <div class="box-icon">
          <a href="#" class="btn btn-minimize btn-round btn-default"><i
									class="glyphicon glyphicon-chevron-up"></i></a>
          <a href="#" class="btn btn-close btn-round btn-default"><i
								     class="glyphicon glyphicon-remove"></i></a>
        </div>
      </div>
      <div class="box-content">
        <div class="box col-md-6">
          <div class="box-inner">
            <div class="box-header well" data-original-title="">
              <h2><i class="glyphicon glyphicon-th"></i> Project</h2>

              <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round btn-default">
		  <i class="glyphicon glyphicon-cog"></i>
		</a>
                <a href="#" class="btn btn-minimize btn-round btn-default">
		  <i class="glyphicon glyphicon-chevron-up"></i>
		</a>
                <a href="#" class="btn btn-close btn-round btn-default">
		  <i class="glyphicon glyphicon-remove"></i>
		</a>
              </div>
            </div>
            <div class="box-content">
              <div class="row">
                <div class="col-sm-8">
                  <select class="form-control">
                    <option>12T40K01</option>
                    <option>12T40K02</option>
                    <option>12T20K01</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box col-md-6">
          <div class="box-inner">
            <div class="box-header well" data-original-title="">
              <h2><i class="glyphicon glyphicon-th"></i> Task</h2>

              <div class="box-icon">
                <a href="#" class="btn btn-setting btn-round btn-default">
		  <i class="glyphicon glyphicon-cog"></i>
		</a>
                <a href="#" class="btn btn-minimize btn-round btn-default">
		  <i class="glyphicon glyphicon-chevron-up"></i>
		</a>
                <a href="#" class="btn btn-close btn-round btn-default">
		  <i class="glyphicon glyphicon-remove"></i>
		</a>
              </div>
            </div>
            <div class="box-content">
              <div class="row">
                <div class="col-sm-8">
                  <select class="form-control">
                    <option>Inner Shell</option>
                    <option>Outer Shell</option>
                    <option>Assembly</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-striped table-bordered table-responsive activityTabel">
          <thead>
            <tr>
              <th>Sr.No.</th>
              <th>Description</th>
              <th>Assigned To</th>
              <th>Precedence</th>
              <th>Duration</th>                            
              <th>Current Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
	    <%= render partial: "activity", locals: {activity: @master_activity, job: @job} %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--/span-->

</div><!--/row-->

