<div>
  <ul class="breadcrumb">
    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">Dashboard</a>
    </li>
  </ul>
</div>
<div class=" row">
  <div class="col-md-3 col-sm-3 col-xs-6">
    <a data-toggle="tooltip" title="6 new members." class="well top-block" href="#">
      <i class="glyphicon glyphicon-certificate blue"></i>

      <div>Projects</div>
      <div></div>
      <span class="notification">6</span>
    </a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-6">
    <a data-toggle="tooltip" title="4 new pro members." class="well top-block" href="#">
      <i class="glyphicon glyphicon-list-alt green"></i>

      <div>Custom Reports</div>
      <div></div>
      <span class="notification green">4</span>
    </a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-6">
    <a data-toggle="tooltip" title="$34 new sales." class="well top-block" href="#">
      <i class="glyphicon glyphicon-list-alt yellow"></i>

      <div>Departmental Reports</div>
      <div></div>
      <span class="notification yellow">34</span>
    </a>
  </div>

  <div class="col-md-3 col-sm-3 col-xs-6">
    <a data-toggle="tooltip" title="12 new messages." class="well top-block" href="#">
      <i class="glyphicon glyphicon-envelope red"></i>

      <div>Messages</div>
      <div></div>
      <span class="notification red">12</span>
    </a>
  </div>
</div>

<div class="row">
  <div class="box col-md-6">
    <div class="box-inner">
      <div class="box-header well">
        <h2><i class="glyphicon glyphicon-info-sign"></i> Ongoing Projects</h2>

        <div class="box-icon">
          <a href="#" class="btn btn-setting btn-round btn-default"><i
								       class="glyphicon glyphicon-cog"></i></a>
          <a href="#" class="btn btn-minimize btn-round btn-default"><i
									class="glyphicon glyphicon-chevron-up"></i></a>
          <a href="#" class="btn btn-close btn-round btn-default"><i
								     class="glyphicon glyphicon-remove"></i></a>
        </div>
      </div>
      

      <div class="box-content">
        <input placeholder="Search" class="search-query form-control col-md-10" name="query"
               type="text">
        <table class="table">
          <thead>
            <tr>
              <th>40K</th>
              <th>Status</th>
              <th>20K</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="center">12T40k01</td>
              <td class="center">
                <span class="label-success label label-default">Active</span>
              </td>
              <td class="center">12T20k01</td>
              <td class="center">
                <span class="label-success label label-default">Active</span>
              </td>
            </tr>
            <tr>
              <td class="center">12T40k02</td>
              <td class="center">
                <span class="label-danger label label-default">Banned</span>
              </td>
              <td class="center">12T20k02</td>
              <td class="center">
                <span class="label-default label label-danger">Banned</span>
              </td>
            </tr>
            <tr>
              <td class="center">12T40k03</td>
              <td class="center">
                <span class="label label label-default">InActive</span>
              </td>
              <td class="center">12T20k03</td>
              <td class="center">
                <span class="label-default label">Inactive</span>
              </td>
            </tr>
            <tr>
              <td class="center">12T40k04</td>
              <td class="center">
                <span class="label-warning label label-default">Pending</span>
              </td>
              <td class="center">12T20k04</td>
              <td class="center">
                <span class="label-warning label label-default">Pending</span>
              </td>
            </tr>
            <tr>
              <td class="center">12T40k05</td>
              <td class="center">
                <span class="label-success label label-default">Active</span>
              </td>
              <td class="center">12T20k05</td>
              <td class="center">
                <span class="label-success label label-default">Active</span>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="pagination pagination-centered">
          <li><a href="#">Prev</a></li>
          <li class="active">
            <a href="#">1</a>
          </li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="box col-md-6">
    <div class="box-inner">
      <div class="box-header well">
        <h2><i class="glyphicon glyphicon-info-sign"></i> Current Status</h2>

        <div class="box-icon">
          <a href="#" class="btn btn-setting btn-round btn-default"><i
								       class="glyphicon glyphicon-cog"></i></a>
          <a href="#" class="btn btn-minimize btn-round btn-default"><i
									class="glyphicon glyphicon-chevron-up"></i></a>
          <a href="#" class="btn btn-close btn-round btn-default"><i
								     class="glyphicon glyphicon-remove"></i></a>
        </div>
      </div>
      <div class="box-content">
        <div id="sincos" class="center" style="height:300px"></div>
        <p id="hoverdata">Mouse position at (<span id="x">0</span>, <span id="y">0</span>). <span
											       id="clickdata"></span></p>
        
        <select class="form-control">
          <option>Line</option>
          <option>Pie</option>
          <option>Stack</option>                        
        </select>
        
      </div>
    </div>
  </div>
</div>
